body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.main-content {
  width: 375px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

img {
  border-radius: 15px;
}

.card-heading {
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;
}

.card-paragraph {
  color: hsl(216, 15%, 48%);
  font-family: "Outfit", sans-serif;
}
